<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.tijian.mapper.CheckitemdetailedMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.demo.tijian.pojo.Checkitemdetailed">
            <id property="cdid" column="cdId" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="minrange" column="minrange" jdbcType="DOUBLE"/>
            <result property="maxrange" column="maxrange" jdbcType="DOUBLE"/>
            <result property="normalvalue" column="normalValue" jdbcType="VARCHAR"/>
            <result property="normalvaluestring" column="normalValueString" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="ciid" column="ciId" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cdId,name,unit,
        minrange,maxrange,normalValue,
        normalValueString,type,ciId,
        remarks
    </sql>
</mapper>
