<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.tijian.mapper.CireportMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.demo.tijian.pojo.Cireport">
            <id property="cirid" column="cirId" jdbcType="INTEGER"/>
            <result property="ciid" column="ciId" jdbcType="INTEGER"/>
            <result property="ciname" column="ciName" jdbcType="VARCHAR"/>
            <result property="orderid" column="orderId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cirId,ciId,ciName,
        orderId
    </sql>
</mapper>
