<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.tijian.mapper.SetmealdetailedMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.demo.tijian.pojo.Setmealdetailed">
            <id property="sdid" column="sdId" jdbcType="INTEGER"/>
            <result property="smid" column="smId" jdbcType="INTEGER"/>
            <result property="ciid" column="ciId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sdId,smId,ciId
    </sql>
</mapper>
